<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="/asset/css/style.css" rel="stylesheet" type="text/css">
<title>chat demo</title>
</head>
<body>

<section id="nav">
<ul>
	<li><a href="javascript:void(0);">チャットルーム1</a></li>
	<li><a href="javascript:void(0);">チャットルーム2</a></li>
</ul>
</section>

<section id="chat">
	<iframe src="/chat/hoge"></iframe>
</section>

</body>
<style>
section#nav {
	width:20%;
	float:left;
}
section#chat {
	width:70%;
	float:left;
}
section#chat iframe {
	width:95%;
	height:600px;
}
</style>
</html>
